@media only screen and (max-width: 1040px){
    body {
        padding: 0;
        padding-bottom: 10px;
    }
    .main-container {
        flex-direction: column-reverse;
    }
    .right, .left {
        width: 100%;
    }
    .left{
        padding: 20px;
    }
    .education-container,
    .lanugages-container,
    .interests-container, 
    .contact-list{
        padding: 10px 20px;
    }
    .cerificates-container{
        display: none;
    }
    .learning{
        padding-left: 8px;
    }
}